body {
    text-align: center;
    background-color: rgb(40, 37, 37);
    color: rgb(191, 1, 249);
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid rgb(243, 140, 7);
    margin: 2rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.red {
    background-color: rgb(219, 9, 9);
}

.yellow {
    background-color: rgb(218, 218, 5);
}

.green {
    background-color: rgb(7, 113, 7);
}

.blue {
    background-color: rgb(6, 6, 155);
}

.flash {
    background-color: rgb(224, 217, 217);
}

.userFlash {
    background-color: rgb(9, 130, 132);
}